@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SF Pro Display';
	src: url('../public/fontface/SFProDisplay-Regular.woff2') format('woff2'),
		url('../public/fontface/SFProDisplay-Regular.woff') format('woff'),
		url('../public/fontface/SFProDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../public/fontface/SFProDisplay-Thin.woff2') format('woff2'),
		url('../public/fontface/SFProDisplay-Thin.woff') format('woff'),
		url('../public/fontface/SFProDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url('../public/fontface/SFProDisplay-Semibold.woff2') format('woff2'),
		url('../public/fontface/SFProDisplay-Semibold.woff') format('woff'),
		url('../public/fontface/SFProDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'SF Pro Display';
	font-weight: normal;
}

@layer components {
	.container {
		@apply max-w-[1000px] w-full mx-4;
	}
}
